<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.address %></h2>
<%# Here we display our restaurant name and address %>
<%# The @restaurant (an instance variable) was defined in line 41 %>
<%# of our app.rb %>
